/* 🔥 EVITA QUE LOS INPUTS SE SALGAN */
* {
    box-sizing: border-box;
}

body {
    background: #e7c6c6;
    color: #ffffff;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    transition: 0.4s;
}

.container {
    width: 350px;
}

h1 {
    text-align: center;
}

/* TARJETAS */
.form-card, .product-card {
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}

/* INPUTS PRO */
input {
    width: 100%;
    padding: 12px 14px;
    margin: 10px 0 15px;
    border-radius: 8px;
    border: 1px solid #505050;
    background: #0f0f0f;
    color: rgb(0, 0, 0);
    font-size: 14px;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #888;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
}

input::placeholder {
    color: #aaa;
}

/* BOTONES */
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #333;
    color: white;
    transition: 0.3s;
}

button:hover {
    opacity: 0.8;
}

/* IMAGEN */
.image-card {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
}

/* COLORES */
.colors {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.color-btn {
    flex: 1;
}

.black-btn {
    background: #970909;
    color: white;
}

.white-btn {
    background: #4a4b4d;
    color: black;
}
